.flex {
    display: flex;
    gap: 1em;
}

.flex--row {
    flex-direction: row;
}

.justify--left {
    justify-content: flex-start;
}

.justify--right {
    justify-content: flex-end;
}

.justify--center {
    justify-content: center;
}

.align--start {

}

.align--center {
    align-items: center;
}
