.section {
    padding: var(--site-section-padding) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section--lightest {
    background: var(--lightest);
}

.section--light {
    background: var(--light);
}

.section--darkest {
    color: white;
    background: var(--darkest);
}

.section--dark {
    color: white;
    background: var(--dark);
}

.section--lightest.dark-mode {
    color: white;
    background: var(--darkest);
}

.section--light.dark-mode {
    color: white;
    background: var(--dark);
}