.btn {
    border-radius: var(--border-radius);
    background: none;
    border: none;
    cursor: pointer;
    width: max-content;
}
.btn--no-bg {
    
    transition: all var(--transition--hover);
}
.btn--no-bg:hover,
.btn--no-bg:focus {
    padding-left: 1em;
    transition: all var(--transition--hover);
}

.btn--highlight {
    padding: 1em 3em;
    color: var(--lightest);
    background: var(--highlight);
    transition: all var(--transition--hover);
}
.btn--highlight:hover,
.btn--highlight:focus {
    transform: scale(0.975);
    background:var(--highlight-hover);
    box-shadow: var(--box-shadow);
    transition: all var(--transition--hover);
}

.btn--advance {
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn--advance svg {
    width: 2em;
    height: auto;
    fill: var(--highlight);

}

.btn--block {
    width: 100%;
}

.btn--nav {
    padding: 0;
    margin: 0;
    margin-right: 0.5em;
    width: 20px;
    font-size: 1.25em;
    outline: none;
}