.btn {
    border-radius: var(--border-radius);
    background: none;
    border: none;
    cursor: pointer;
    width: max-content;
}
.btn--no-bg {
    position: relative;
}
.btn--no-bg:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--highlight-hover);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.btn--no-bg:hover:after,
.btn--no-bg:focus:after {
    width: 100%; 
    left: 0; 
}

.btn--highlight {
    padding: 1em 3em;
    color: var(--lightest);
    background: var(--highlight);
    transition: all var(--transition--hover);
}
.btn--highlight:hover,
.btn--highlight:focus {
    transform: scale(0.95);
    background:var(--highlight-hover);
    box-shadow: var(--box-shadow);
    transition: all var(--transition--hover);
}

.btn--advance {
    font-size: 18px;
    font-weight: 600;
    align-self: flex-end;
    border-radius: 50%;
    padding: 1em;
    background: var(--light);
    color: var(--highlight);
}