.cookies {
    display: none;
    width: 100%;
    padding: 0;
}

.cookies.row {
    gap: 0;
}

.cookies.appear {
    display: unset;
}

.cookies label:nth-of-type(even) {
    margin: 0 0.5em;
}

#cookieAccept,
#cookieReject {
    color: white;
    display: inline-block;
}