form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
textarea {
    margin: 1em 0;
    padding: 1em 1em;
    resize: none;
    border: 1px solid var(--dark);
    border-radius: var(--border-radius);
    outline: none;
}

small {
    margin: 1em 0;
}