nav {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: calc(100% - 2em);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;
    
}
.nav__logo {
    height: auto;
}
.nav__logo h3 {
    display: flex;
    margin: 0;
}
.nav__links {
    text-align: center;
    margin-top: 1em;
    padding: 0;
    grid-column: span 4 / 5;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    transform: translateX(0%);
    transform: scale(1);
    display: unset;
    visibility: visible;
    transition-property: transform;
    transition: 500ms linear;
}

.nav__links.hidden {
    display: none;
    transform: translateX(100%);
    transform: scale(0);
    visibility: hidden;
    transition-property: transform;
    transition: 500ms linear;
}
.nav__toggle {
    justify-self: end;
    height: auto;
    display: flex;
    align-content: center;
}
.nav__toggle label {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav__toggle label span {
    width: 30px;
    height: 5px;
    background: white;
}
.bar-1{
    border-radius: 5px;
    position: absolute;
    transform-origin: center;
    transition: all 275ms linear;
    transform: translateY(-5px);
}
.bar-1.open {
    transition: all 275ms linear;
    transform: translateY(2.5px);
    transform: rotate(45deg);
}
.bar-2 {
    border-radius: 3px;
    position: absolute;
    transform-origin: center;
    transition: all 275ms linear;
    transform: translateY(5px);
}
.bar-2.open {
    transition: all 275ms linear;
    transform: translateY(-2.5px);
    transform: rotate(-45deg);
}



nav a {
    color: whitesmoke;
}