section {
    min-height: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.section--img {
    min-height: 625px;
}

.section--light {
    background: whitesmoke;
    min-height: 625px;
}

.section--dark {
    background: whitesmoke;
    min-height: 625px;
}

.section--img:nth-of-type(1) {
    height: calc(100vh - 2em);
    background-image: url("https://images.unsplash.com/photo-1513106021000-168e5f56609d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: right top;
}
section:nth-of-type(odd) {
    background: rgb(205, 205, 205);
}