@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.67em;
}

h2 {
    font-weight: 600;
    margin: 0.67em 0;
}

h3 {
    font-weight: 600;
    margin: 0.67em 0;
    
}

h4 {
    font-weight: 600;
    margin: 0.67em 0;
}

h5 {
    font-weight: 600;
    margin-bottom: 1em;   
}

h6 {
    font-weight: 600;
    margin: 0.67em 0;
}

p {
    margin: 0.67em 0;
}