@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

* {
    font-family: 'Work Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-weight: 100;
    color: #2d2d2d;
}

a {
    color: var(--highlight);
}

a:visited {
    color: var(--highlight-visited);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

.bold {
    font-weight: 900;
}