* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 100;
}

a {
    color: var(--highlight);
}

a:visited {
    color: var(--highlight-visited);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kufam', cursive;
}

p,
a,
li {
    font-weight: 300;
}



.bold {
    font-weight: 900;
}