:root {
    /*  Colours  */
    --lightest: rgb(255, 255, 255);
    --light: whitesmoke;
    --highlight: rgb(10, 122, 191);
    --dark: rgb(161, 172, 182);
    --darkest: #212D40;

    /*  Highlight Colours  */
    --highlight-hover: rgb(31, 145, 216);

    /*  Layout  */
    --nav-height: 62px;
    --site-width: 1500px;
    --site-gutter: 1em;
    --site-section-padding: 3em;

    /*  Misc Styling  */
    --border-radius: 0.55em;
    --box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --transition--hover: 225ms ease;
    --transition--nav: 375ms ease;
}